/*Model*/
.modal {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal.small {
  width: 400px;
  margin: -170px 0 0 -200px;
}
.modal .modal-icon {
  vertical-align: middle;
  font-size: 4em;
  float: left;
  margin-right: .25em;
}
.modal:focus {
  outline: none;
}
.modal .modal-header h3 {
  font-size: .95em;
}
.modal .modal-footer {
  padding: .5em;
}
.modal .modal-body {
  max-height: 2000px;
  padding: 1em 2em;
}
.modal p {
  margin: 0em;
  line-height: 1.5em;
}