<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="dialogtitle">Modal Dialog</h3>
</div>
<div class="modal-body">
   <div wtfpos="default"  wtftype="container" class="design_minheight"></div>
</div>
<div class="modal-footer">
   <div id="extend1" wtftype="container" class="extend_zone" wtfpos="extend1"></div>
   <div id="extend2" wtftype="container" class="extend_zone" wtfpos="extend2"></div>
   <div id="extend3" wtftype="container" class="extend_zone" wtfpos="extend3"></div>
   <div id="cancelbt" wtftype="button" wtfmetadata="{text:'Cancel'}"></div>
   <div id="extend4" wtftype="container" class="extend_zone" wtfpos="extend4"></div>
   <div id="extend5" wtftype="container" class="extend_zone" wtfpos="extend5"></div>
   <div id="extend6" wtftype="container" class="extend_zone" wtfpos="extend6"></div>
   <div id="okbt" wtftype="button" wtfmetadata="{text: 'Save Changes', style: 'primary'}"></div>
   <div id="extend7" wtftype="container" class="extend_zone" wtfpos="extend7"></div>
   <div id="extend8" wtftype="container" class="extend_zone" wtfpos="extend8"></div>
   <div id="extend9" wtftype="container" class="extend_zone" wtfpos="extend9"></div>
</div>